.preloader {
    background-color: white;
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
}

.preloader__item {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 90%;
    font-size: 20px;
    font-family: arial;
    width: 90%;
    margin: auto auto;
    border-radius: 50%;
    border-right: 9px solid rgba(0, 0, 0, 0.8);
    animation: spinning 5s linear infinite;
}

.preloader__wrapper {
    top: calc(50% - 100px);
    position: relative;
    width: 200px;
    height: 200px;
}

@keyframes spinning {
    0% {
        transform: rotate(0deg);
        border-right: 9px solid rgba(0, 0, 0, 0.6);
    }

    5% {
        border-right-color: rgba(0, 0, 0, 0.4);
    }

    10% {
        border-right-color: rgba(0, 0, 0, 0.6);
    }

    15% {
        border-right-color: rgba(0, 0, 0, 0.4);
    }

    20% {
        border-right-color: rgba(0, 0, 0, 0.6);
    }

    25% {
        border-right-color: rgba(0, 0, 0, 0.4);
    }

    30% {
        border-right-color: rgba(0, 0, 0, 0.6);
    }

    35% {
        border-right-color: rgba(0, 0, 0, 0.4);
    }

    40% {
        border-right-color: rgba(0, 0, 0, 0.6);
    }

    45% {
        border-right-color: rgba(0, 0, 0, 0.4);
    }

    50% {
        border-right-color: rgba(0, 0, 0, 0.6);
    }

    55% {
        border-right-color: rgba(0, 0, 0, 0.4);
    }

    60% {
        border-right-color: rgba(0, 0, 0, 0.6);
    }

    65% {
        border-right-color: rgba(0, 0, 0, 0.4);
    }

    70% {
        border-right-color: rgba(0, 0, 0, 0.6);
    }

    75% {
        border-right-color: rgba(0, 0, 0, 0.4);
    }

    80% {
        border-right-color: rgba(0, 0, 0, 0.6);
    }

    85% {
        border-right-color: rgba(0, 0, 0, 0.4);
    }

    90% {
        border-right-color: rgba(0, 0, 0, 0.6);
    }

    95% {
        border-right-color: rgba(0, 0, 0, 0.4);
    }

    100% {
        transform: rotate(360deg);
        border-right: 9px solid rgba(0, 0, 0, 0.6);
    }
}

.orange-text {
    color: #fab06b;
}

main {
    padding-left: 260px;
    padding-top: 71px;
}

body {
    overflow-x: hidden;
    background-color: #efeae5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

* {
    font-family: "Bellota Text", cursive;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* button {
    background: none;
    height: -moz-fit-content;
    height: fit-content;
    border: none;
    outline: none;
    cursor: pointer;
}

* input {
    border: none;
    outline: none;
    background: transparent;
}

* li {
    list-style: none;
}

* ::-webkit-scrollbar {
    width: 6px;
}

* ::-webkit-scrollbar-track {
    background-color: #222222;
}

* ::-webkit-scrollbar-thumb {
    background-color: #887777;
    border-radius: 5px;
}

* a {
    text-decoration: none;
}

.main-header {
    z-index: 3;
    position: fixed;
    display: flex;
    width: 100%;
}

.main-header__logo {
    width: 220px;
}

.main-header__logo.icon {
    width: 48px;
    display: none;
}

.main-header__item {
    transition: 0.2s;
    background-color: #313131;
    padding: 0 20px;
    align-items: center;
    display: flex;
    width: 100%;
    position: relative;
}

.main-header__logo-wrapper {
    width: 260px;
    background-color: #292929;
    width: -moz-fit-content;
    width: fit-content;
    cursor: pointer;
}

.main-header__seacrh-wrapper {
    transition: 0.3s;
    padding: 0 15px;
    z-index: 2;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #145521;
    top: -75px;
    height: 100%;
    left: 0;
}

.main-header__seacrh-wrapper.active {
    top: 0;
}

.main-header__seacrh-wrapper .seacrh-wrapper__search-input {
    font-size: 24px;
    width: 100%;
    color: white;
    font-weight: bold;
}

.main-header__seacrh-wrapper .seacrh-wrapper__search-input::-moz-placeholder {
    font-weight: lighter;
}

.main-header__seacrh-wrapper .seacrh-wrapper__search-input::placeholder {
    font-weight: lighter;
}

.main-header__seacrh-wrapper .search-wrapper__btn {
    font-size: 24px;
    color: #887777;
}

.main-header__seacrh-wrapper .search-wrapper__btn:hover {
    color: white;
}

.main-header__btn {
    padding: 22px 15px;
    color: #76838f;
    background-color: white;
    font-size: 22px;
    background-color: #313131;
}

.main-header__btn:hover {
    background-color: #4b4b4b;
}

.main-header__btn:active {
    color: #28a742;
}

.main-header__btn_glowing i {
    animation-name: glowing;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.main-header__btns-wrapper {
    display: flex;
    align-items: center;
}

.main-header__user-wrapper {
    margin-left: auto;
    position: relative;
}

.main-header__user-wrapper .user-wrapper__menu {
    position: absolute;
    border-radius: 3px;
    background-color: #313131;
    padding: 5px 0px;
    top: 75px;
    right: 0px;
    max-width: 0px;
    overflow-x: hidden;
    transition: 0.3s;
}

.main-header__user-wrapper .user-wrapper__menu.active {
    padding: 5px 15px;
    max-width: 200px;
}

.main-header__user-wrapper .user-wrapper__list {
    display: flex;
    flex-direction: column;
}

.main-header__user-wrapper .user-wrapper__item {
    display: flex;
}

.main-header__user-wrapper .user-wrapper__btn {
    border-radius: 5px;
    padding: 15px 7px;
    display: flex;
    font-size: 16px;
    width: 100%;
    gap: 12px;
    color: #999999;
}

.main-header__user-wrapper .user-wrapper__btn:hover, .main-header__user-wrapper .user-wrapper__btn:active {
    color: white;
    background-color: #242f5c;
}

.main-aside {
    left: 0px;
    transition: 0.2s;
    z-index: 10;
    position: fixed;
    height: 100%;
    top: 71px;
    width: 260px;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    background-image: url("../images/leftbg-grey.png");
}

.site-menu_compressed {
    padding-top: 44px;
}

.site-menu_compressed .site-menu__text, .site-menu_compressed .fas.fa-chevron-down {
    display: none;
}

.site-menu_compressed .site-menu__list-item {
    position: relative;
}

.site-menu_compressed .site-menu__list-item .sublist {
    max-height: 0px;
    position: absolute;
    top: 0;
    right: -250px;
    width: 250px;
    transition: 0s;
}

.site-menu_compressed .site-menu__list-item:hover .sublist {
    max-height: 450px;
    z-index: 50;
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    background-color: rgba(24, 24, 24, 0.9);
}

.site-menu_compressed .site-menu__title {
    display: none;
}

.site-menu_compressed .site-menu__btn {
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0;
    height: 60px;
    font-size: 24px;
}

.site-menu_compressed .site-menu__icon {
    width: 32px;
}

.site-menu {
    z-index: 500;
}

.site-menu__list-item.active {
    background-color: rgba(24, 24, 24, 0.5);
}

.site-menu__list-item.active .sublist {
    max-height: 450px;
    overflow-y: scroll;
}

.site-menu__list-item.active .fa-chevron-down {
    display: block;
    transform: rotate(0);
}

.site-menu__list-item:hover {
    background-color: rgba(22, 28, 55, 0.5);
}

.site-menu__title {
    margin-top: 20px;
    padding: 24px;
    padding-bottom: 10px;
    color: #fab06b;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #354b72;
}

.site-menu__btn {
    display: flex;
    width: 100%;
    gap: 7px;
    font-size: 16px;
    color: white;
    padding: 10px 24px;
}

.site-menu__btn .fa-chevron-down {
    transition: 0.3s;
    display: block;
    transform: rotate(-90deg);
}

.site-menu__icon {
    width: 16px;
}

.site-menu__text {
    margin-right: auto;
}

.sublist {
    transition: 0.3s ease-in-out all;
    max-height: 0px;
    overflow-y: hidden;
}

.sublist__link {
    transition: 0.3s;
    display: block;
    padding: 10px 25px;
    color: rgba(163, 175, 183, 0.9);
    min-height: 30px;
}

.sublist__link:hover {
    background-color: rgba(50, 66, 129, 0.5);
}

.main-footer {
    margin-top: auto;
    padding-left: 260px;
    padding-bottom: 40px;
    padding-top: 40px;
    background-color: #292929;
}

.main-footer__title {
    color: #999999;
    font-weight: bold;
    transition: 0.3s;
}

.main-footer__title:hover {
    color: #1c70fd;
}

.main-footer__head {
    background-color: #313131;
    padding: 10px 40px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main-footer__body {
    flex-wrap: wrap;
    padding: 20px 40px;
    display: flex;
    gap: 40px;
}

.main-footer__list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.main-footer__list:nth-of-type(odd) .main-footer__link {
    flex-direction: row;
}

.main-footer__link {
    color: #979797;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    gap: 15px;
    padding: 10px 0;
    font-size: 12px;
    transition: 0.1s;
}

.main-footer__link:hover {
    color: #28a742;
}

.main-footer__item {
    border-bottom: 1px solid #242424;
}

.social-links {
    display: flex;
    gap: 10px;
    font-size: 20px;
}

.social-links__item {
    color: #4b4b4b;
    transition: 0.3s;
}

.social-links__item:hover {
    color: #fab06b;
}

.main-container {
    transition: 0.2s;
}

.main-container .start {
    min-height: 300px;
    margin-bottom: 10px;
    position: relative;
}

.main-container .start__img-container {
    width: 100%;
    height: 300px;
    top: 0;
    position: absolute;
}

.main-container .start__img {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    pointer-events: none;
}

.main-container .start__title {
    padding-left: 40px;
    padding-top: 40px;
    font-size: calc(25px + 15 * ((100vw - 320px) / 960));
    position: relative;
    z-index: 1;
    color: #f2a201;
}

.main-container .start__title_white {
    color: white;
}

.main-container .start__links {
    padding: 50px 40px;
    padding-bottom: 0;
    margin-bottom: 40px;
    padding-top: 40px;
    position: relative;
}

.main-container .start .links {
    position: relative;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
    -moz-column-gap: 35px;
    column-gap: 35px;
    row-gap: 20px;
}

.main-container .start .links__link {
    flex: 0 0 auto;
    transition: 0.3s;
    border-radius: 5px;
    padding: 10px 18px;
    box-shadow: 3px 3px 12px 7px rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.9);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.main-container .start .links__link:hover {
    background: linear-gradient(90deg, rgb(18, 62, 117) 0%, rgb(39, 52, 166) 32%, rgb(65, 28, 161) 55%, rgb(91, 2, 155) 100%);
}

.main-container .start .links__title {
    font-weight: lighter;
    font-size: 18px;
}

.main-container .start .links__text {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.main-container .start .links__text i {
    margin-left: 5px;
    color: #f2a201;
}

.main-container .main-panels {
    transition: 0.3s;
    padding: 20px 40px;
    border-bottom: 1px solid #cacfd4;
    margin-bottom: 20px;
}

.main-container .main-panels__title {
    font-size: 28px;
}

.main-container .main-panels__subtitle {
    font-size: 14px;
    color: #76838f;
}

.main-container .main-panels__titles {
    margin-bottom: 20px;
}

.main-container .main-panels .panels {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "afisha panel__menu authors authors" "museum__stats panel__menu authors authors" "fra artclub artclub tiepolo" "museummoney museummoney puzzles gogh" "popular user_pictures user_pictures gogh" "daypicture user_pictures user_pictures catalog";
    gap: 20px;
}

.main-container .main-panels .panels__picture-name {
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
    font-size: calc(12px + 6 * ((100vw - 320px) / 960));
}

.main-container .main-panels .panels__panel {
    position: relative;
    display: block;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.main-container .main-panels .panels__img {
    height: 100%;
    width: 100%;
    -o-object-position: left;
    object-position: left;
    -o-object-fit: cover;
    object-fit: cover;
}

.main-container .main-panels .panels__post-title {
    position: absolute;
    min-height: 20%;
    padding: 20px;
    bottom: 0;
    background-color: #485057;
    color: white;
    font-weight: bold;
    font-size: 20px;
}

.main-container .main-panels .panels__link {
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
    transition: 0.3s;
    color: white;
    font-size: calc(12px + 3 * ((100vw - 320px) / 960));
}

.main-container .main-panels .panels__link:hover {
    color: #5a7ab3;
}

.main-container .main-panels .panels__author-info {
    z-index: 2;
    bottom: 10px;
    left: 5px;
    color: #999999;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: bold;
}

.main-container .main-panels .panels__author-count {
    display: flex;
    gap: 5px;
    font-size: 12px;
    align-items: center;
}

.main-container .main-panels .panels__author-name {
    word-break: break-all;
    padding-right: 10px;
    font-weight: bold;
}

.main-container .main-panels .panels__update {
    position: absolute;
    bottom: 20px;
    font-weight: bold;
    color: white;
    left: -5px;
    z-index: 1;
    -webkit-clip-path: polygon(100% 0%, 93% 51%, 100% 100%, 0 100%, 0% 50%, 0 0);
    clip-path: polygon(100% 0%, 93% 51%, 100% 100%, 0 100%, 0% 50%, 0 0);
    padding: 5px 20px 5px 10px;
}

.main-container .main-panels .panels__update_red {
    background-color: #ff4c52;
}

.main-container .main-panels .panels__update_yellow {
    background-color: #f2a201;
}

.main-container .main-panels .panels #museummoney {
    grid-area: museummoney;
}

.main-container .main-panels .panels #puzzles {
    grid-area: puzzles;
}

.main-container .main-panels .panels #gogh {
    grid-area: gogh;
}

.main-container .main-panels .panels #tiepolo {
    grid-area: tiepolo;
}

.main-container .main-panels .panels #artclub {
    grid-area: artclub;
}

.main-container .main-panels .panels #fra {
    grid-area: fra;
}

.main-container .main-panels .panels #fra .panels__img {
    position: relative;
    -o-object-fit: cover;
    object-fit: cover;
}

.main-container .main-panels .panels #afisha {
    grid-area: afisha;
}

.main-container .main-panels .panels #museum__stats {
    grid-area: museum__stats;
    background-image: url("../images/museum-stats.jpg");
    background-size: cover;
    text-align: center;
    background-position: center;
}

.main-container .main-panels .panels #panel__menu {
    grid-area: panel__menu;
    padding: 20px;
    background-image: url("../images/panels__menu.jpg");
    background-size: cover;
    background-position: center;
}

.main-container .main-panels .panels #authors {
    grid-area: authors;
}

.main-container .main-panels .panels #authors .panels__list {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    height: 100%;
}

.main-container .main-panels .panels #authors .panels__link {
    position: relative;
    overflow: hidden;
    height: 100%;
    margin-bottom: 0;
}

.main-container .main-panels .panels #authors .panels__link:hover .panels__img {
    filter: brightness(100%) blur(0px);
}

.main-container .main-panels .panels #authors .panels__link:hover .panels__author-info {
    color: white;
}

.main-container .main-panels .panels #authors .panels__img {
    transition: 0.3s;
    -o-object-fit: cover;
    object-fit: cover;
    filter: brightness(50%) blur(1px);
}

.main-container .main-panels .panels__text {
    color: white;
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: calc(12px + 11 * ((100vw - 320px) / 960));
}

.main-container .main-panels .panels__count {
    color: #f2a201;
    font-weight: bold;
}

.main-container .main-panels .panels #popular {
    grid-area: popular;
}

.main-container .main-panels .panels #daypicture {
    grid-area: daypicture;
}

.main-container .main-panels .panels #catalog {
    grid-area: catalog;
}

.main-container .main-panels .panels #user_pictures {
    grid-area: user_pictures;
}

.main-container .main-panels .panels #user_pictures .panels__list {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    height: 100%;
}

.main-container .main-panels .panels #user_pictures .panels__link {
    position: relative;
    height: 100%;
    margin-bottom: 0;
}

.main-container .main-panels .panels #user_pictures .panels__link:hover .panels__img {
    filter: brightness(100%) blur(0px);
}

.main-container .main-panels .panels #user_pictures .panels__link:hover .panels__author-info {
    color: white;
}

.main-container .main-panels .panels #user_pictures .panels__img {
    transition: 0.3s;
    -o-object-fit: cover;
    object-fit: cover;
    filter: brightness(50%) blur(1px);
}

.main-container .main-panels .panels #user_pictures .panels__author-count i {
    color: #f2a201;
}

.main-container .blog {
    padding: 20px 40px;
    border-bottom: 2px solid #cacfd4;
    padding-bottom: 0;
    margin-bottom: 20px;
}

.main-container .blog__body {
    -moz-column-count: 3;
    column-count: 3;
    -moz-column-rule: solid 1px #cacfd4;
    column-rule: solid 1px #cacfd4;
}

.main-container .blog__item {
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
    display: inline-block;
}

.main-container .blog__img {
    margin-top: 15px;
    width: 100%;
    border-radius: 10px;
}

.main-container .blog__title {
    margin-bottom: 15px;
    font-size: 23px;
    font-weight: bold;
}

.main-container .popular-arts__body {
    padding: 20px 40px;
}

.main-container .popular-arts__wrapper {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
}

.main-container .popular-arts__title {
    margin-bottom: 20px;
    font-size: 20px;
    color: #354b72;
}

.main-container .popular-arts__img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
}

.main-container .popular-arts__link {
    width: 128px;
    height: 128px;
    display: block;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.3s;
    filter: brightness(60%);
}

.main-container .popular-arts__link:hover {
    filter: brightness(100%);
}

@keyframes glowing {
    0% {
        color: #28a742;
    }

    50% {
        text-shadow: 0px 0px 5px #ffc107;
        color: #ffc107;
    }

    100% {
        text-shadow: 0px 0px 0px #ffc107;
        color: #28a742;
    }
}

@media screen and (max-width: 1200px) {
    .main-container .main-panels .panels {
        grid-template-columns: repeat(3, 1fr);
        grid-template-areas: "afisha  museum__stats panel__menu" "authors authors panel__menu" "authors authors fra" "tiepolo artclub artclub" "museummoney museummoney gogh" "puzzles popular gogh" "daypicture user_pictures user_pictures" "catalog user_pictures user_pictures";
    }

    .main-container .blog__body {
        -moz-column-count: 2;
        column-count: 2;
    }

    .main-header__logo {
        display: none;
    }

    .main-header__logo.icon {
        display: block;
        width: 48px;
    }
}

@media screen and (max-width: 990px) {
    .main-container .main-panels #museum__stats {
        padding: calc(20px + 30 * ((100vw - 320px) / 960)) 0;
    }

    .main-container .main-panels .panels {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "afisha   panel__menu" "museum__stats panel__menu" "authors authors" "authors authors" "fra tiepolo" "artclub artclub" "museummoney museummoney" "gogh puzzles" "gogh popular" "user_pictures user_pictures" "user_pictures user_pictures" "daypicture catalog";
    }

    .main-container .blog__body {
        -moz-column-count: 1;
        column-count: 1;
    }

    .main-container .blog__title {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    section {
        padding-right: 20px !important;
        padding-left: 20px !important;
    }

    .start {
        padding: 0 !important;
    }

    .main-header__item, .main-header__btn {
        background-color: #292929;
    }

    .main-header__btn {
        padding-right: 5px;
        padding-left: 5px;
    }

    .main-header__logo-wrapper {
        padding: 0;
        z-index: 2;
        position: absolute;
        left: calc(50% - 24px);
        top: 0;
        height: 100%;
    }

    .main-header__btn[onclick="EnableFullScreen()"] {
        display: none;
    }

    #gogh {
        height: 450px;
    }

    .main-container .main-panels #museum__stats .panels__text {
        font-size: 25px;
    }

    .main-container .main-panels .panels {
        display: flex;
        flex-direction: column;
    }

    .main-container .main-panels .panels__panel {
        height: 175px;
    }

    .main-container .main-panels .panels__panel:has(.panels__list) {
        height: -moz-fit-content;
        height: fit-content;
    }

    .main-container .main-panels .panels__panel:has(.panels__list) .panels__list {
        grid-template-columns: repeat(3, 1fr) !important;
        grid-template-rows: repeat(5, 100px) !important;
    }
}

@media screen and (max-width: 600px) {
    .main-container .main-panels__title {
        font-size: 26px;
    }

    .main-container .start {
        height: 300px;
        transition: 0.3s;
    }

    .main-container .start__img-container {
        transition: 0.3s;
        width: 100%;
        height: 300px;
        top: 0;
        position: absolute;
    }

    .main-container .popular-arts__body {
        padding-right: 0;
        padding-left: 0;
    }

    .main-container .popular-arts__wrapper {
        justify-content: center;
    }

    .main-container .popular-arts__title {
        text-align: center;
    }

    .main-container .main-footer__title {
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
    }

    .main-container .main-footer__links {
        width: 100%;
        justify-content: center;
    }

    .main-container .main-footer__list {
        width: 100%;
        text-align: center;
    }
}