.museum {
    padding: 40px;
}

.museum__title-wrapper {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 40px;
}

.museum__title-wrapper .museum__title {
    font-size: 40px;
    color: #292929;
}

.museum__title-wrapper .museum__subtitle {
    font-size: 18px;
    color: #313131;
}

.country-museums {
    margin-bottom: 40px;
}

.country-museums__country {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #1c70fd;
    margin-bottom: 20px;
}

.country-museums__country-img {
    height: 30px;
    border-radius: 5px;
}

.country-museums__wrapper {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    padding-top: 20px;
    width: 100%;
    border-top: 1px solid #b4d0fe;
}

.country-museums__img {
    height: 150px;
    width: 150px;
    border-radius: 5px 5px 0 0;
}

.country-museums__item {
    width: -moz-fit-content;
    width: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    transition: 0.2s;
    background-color: white;
}

.country-museums__item:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 21px 9px rgba(34, 60, 80, 0.09);
}

.country-museums__item:hover .country-museums__info {
    color: #1c70fd;
}

.country-museums__info {
    padding: 5px;
    transition: 0.3s;
    font-size: 14px;
    color: #292929;
    display: flex;
    flex-direction: column;
}